.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-field
{
  width: 100%;
  margin-bottom: 10px;

}

form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 20px 10px 20px;
  width: 100%;
  max-width: 400px;

  @media screen and (max-width: 500px)
  {
    max-width: 90%;
  }
}

button
{
  width: 100%;
}

//for mobile screens
@media screen and (max-width: 500px)
{
  h2
  {
    font-size: 20px;
  }

  .form-field
  {
    margin-bottom: 5px;
    font-size: 14px;
  }
}