// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html
{
  @include mat.theme((color: (theme-type: light,
        primary: mat.$spring-green-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body
{
  height: 100%;
}

body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error
{
  // --mdc-snackbar-container-color: #ef1d12;
  @include mat.snack-bar-overrides((button-color: white,
      container-color: #ef1d12,
    ));
}

.snackbar-success
{
  // --mdc-snackbar-container-color: #ef1d12;
  @include mat.snack-bar-overrides((button-color: white,
      container-color: #14581f,
    ));
}

.snackbar-info
{
  // --mdc-snackbar-container-color: #ef1d12;
  @include mat.snack-bar-overrides((button-color: white,
      container-color: #142c58,
    ));
}